@model NakedIdentity.Mvc.ViewModels.RegisterModel
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@Html.ValidationSummary(false)

@using (Html.BeginForm())
{
  @Html.EditorForModel()
  <p>
    <button type="submit">Register</button>
  </p>
}

